@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:wght@100;500&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary:#845665;
  --color-primary-dull:#D63854;
}

*{
  font-family: "Montserrat", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787878 #1e1e1e ;
  

}
body{
  color: white;
  background-color: #090909;

}
.no-srollbar{
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}